- if @errors
  %div#validation-errors
    %ul
    - @errors.each do |field, message|
      %li
        = message

%form{:method => 'post',
      :action => url("/competitions/#{@competition.id}"),
      :id => "competition"}
  %div.clearfix
    %label{:for => 'comp-name'}<
      competition name:
    %input.name{:id    => 'comp-name',
                :name  => 'comp_name',
                :type  => 'text',
                :value => @competition.name,
                :placeholder => 'New Competition Name',
                :required    => 'required'}

  %div.clearfix
    %label{:for => 'description'}<
      description:
    %textarea{:id    => 'description',
              :name  => 'description',
              :rows  => 10,
              :cols  => 59,
              :placeholder => 'add any additional information here. contact info, location, themes, etc.'}<
      :preserve
        #{@competition.description}

  %div#times
    %div.clearfix
      %div.form-group
        %label{:for => 'start-date'}<
          start date:
        %input.time{:id       => 'start-date',
                    :type     => 'date',
                    :name     => 'start_date',
                    :value    => date_of(@competition.start),
                    :required => 'required'}

      %div.form-group
        %label{:for => 'start-time'}<
          start time:
        %input.time.last{:id       => 'start-time',
                         :type     => 'time',
                         :name     => 'start_time',
                         :value    => time_of(@competition.start),
                         :required => 'required'}

    %div.clearfix
      %div.form-group
        %label{:for => 'end-date'}<
          end date:
        %input.time{:id       => 'end-date',
                    :type     => 'date',
                    :name     => 'end_date',
                    :value    => date_of(@competition.end),
                    :required => 'required'}

      %div.form-group
        %label{:for => 'end-time'}<
          end time:
        %input.time.last{:id       => 'end-time',
                         :type     => 'time',
                         :name     => 'end_time',
                         :value    => time_of(@competition.end),
                         :required => 'required'}

    %div.clearfix
      %label{:for => 'timezone'}<
        time zone:
      %select#timezone{:name => "timezone"}
        - @zones.each do |timezone, label|
          - if @competition.timezone.name == timezone
            %option{:value => timezone, :selected => "selected"}
              = label
          - else
            %option{:value => timezone}
              = label

  %input#submit.button{:type => 'submit',
                       :value => 'Update Competition'}
