%section.competition
  %header
    %h1 #{@competition.name}

    %p.schedule<
      %span.date<
        #{@competition.start.strftime('%m/%d/%y %I:%M%P')} -
      %span.date<
        #{@competition.end.strftime('%m/%d/%y %I:%M%P %Z')}

  %div#description
    :markdown
      #{escape_html(@competition.description)}

  - if @competition.teams.any?

    %div#teams
      %h2 Registered Teams
      %ul
        - @competition.teams.each do |team|
          %li.team<
            %h3>
              = team.name
            Members:
            %ul.team-members>
              - team.members.each do |member|
                %li.member<
                  = member.username
              - if !team.member?(current_user) && !team.full?
                %li
                  %form{:method => "post",
                        :action => url("/team/#{team.id}/add_member/#{current_user.id}")}
                    %input.button.join{:type  => 'submit',
                                       :value => 'Join Team'}
              - if team.member?(current_user)
                %li
                  %form{:method => "post",
                        :action => url("/team/#{team.id}/remove_member/#{current_user.id}")}
                    %input.button.leave{:type  => 'submit',
                                        :value => 'Leave Team'}

  %footer
    - if logged_in?
      %a.button{:href => url("/competitions/#{@competition.id}/teams/new")}
        Create Team
      - if authorized?
        %a.button{:href => url("/competitions/#{@competition.id}/edit")}
          Edit

