%ul.team-members>
  - @team.members.each do |member|
    %li.member<
      = member.username
  - if current_user
    - if @team.joinable?(current_user)
      %li
        %form{:method => "post",
              :action => url("/team/#{@team.id}/add_member/#{current_user.id}")}
          %input.button{:type  => 'submit',
                        :class  => "ajax-submit",
                        :value => 'Join Team'}
    - if @team.member?(current_user)
      %li
        %form{:method => "post",
              :action => url("/team/#{@team.id}/remove_member/#{current_user.id}")}
          %input.button.irreversible{:type  => 'submit',
                                     :value => 'Leave Team'}

